@import '../../../../style.scss';

.aboutContentField {
  &_date {
    color: $fourth-color;
    font-size: 0.7rem;
    font-weight: 400;
  }

  &_entity {
    font-size: 1.1rem;
    font-weight: 800;
  }

  &_position {
    font-size: 1.25rem;
    font-weight: 300;
  }

  &_functions {
    font-size: 0.8rem;
    list-style: circle;
    list-style-position: inside;
    margin-top: 8px;
  }
}
