@import "../../style.scss";

.border-project-image {
    background: $second-color;
    width: 40%;
    height: 750px;
    position: relative;
    top: -20px;
    left: -20px;
    transition: all 0.2s linear;
}

.border-project-image::after {
    content: "SCROLL→";
    color: $third-color;
    font-weight: 600;
    writing-mode: vertical-lr;
    position: absolute;
    bottom: 40px;
    right: -60px;
    letter-spacing: 6px;
    animation: animate__shakeY 2s;
    animation: shakeY 12s infinite;
}

.project-image {
    width: 100%;
    height: 100%;
    overflow: scroll;
    box-shadow: -4px -8px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 12px;
    left: 12px;
    transition: all 0.3s ease-out;
}

.project-image:hover {
    top: 20px;
    left: 20px;
}

.project-image::-webkit-scrollbar {
    display: none;
}

.project-image img {
    width: 100%;
    margin-bottom: -10px;
}

@media only screen and (max-width: 1024px) {
    .border-project-image {
        width: 80%;
    }

    .border-project-image::after {
        background-color: $highlight-background;
        color: $highlight-color;
        bottom: 40px;
        right: 5px;
        padding: 10px 0;
        border-radius: 3px;
    }
}