.topicSection {
  &_list {
    margin-top: 0.5rem;

    display: flex;
    gap: 5rem;

    @media only screen and (max-width: 1024px) {
      gap: 2.5rem;
    }

    @media only screen and (max-width: 480px) {
      flex-direction: column;
    }
  }
}
