@import '../../../style.scss';

.project-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  & h1 {
    font-size: 2rem;
  }

  & section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

.technologies-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.technologies-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.technologies-list li {
  background-color: $highlight-color;
  border-radius: 10px;
  color: $highlight-background;
  font-weight: 400;
  margin-left: 8px;
  padding: 0 6px;
}

.reference-list {
  margin-left: 10px;
}

.reference-list a {
  color: $default-white;
  transition: all 0.1s ease-in;
}

.reference-list a:hover {
  background-color: $alternate-color;
  padding: 0 5px;
  color: $highlight-color;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .project-content {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .project-content h1 {
    font-size: 1.8rem;
  }
}
