@import '../../../style.scss';

.logo {
  color: $second-color;
  font-family: $alternative-font;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;

  display: flex;

  &_span {
    color: rgba($second-color, 0.6);
    opacity: 0;
  }
}
