@import '../../../../style.scss';

.aboutHeaderIntro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  min-width: 200px;

  & h1,
  h3 {
    text-transform: uppercase;
  }

  & h1 {
    color: $highlight-background;
    font-size: 3.5rem;
    line-height: 1;
  }

  & h3 {
    font-weight: 500;
    letter-spacing: 8px;
  }

  & p {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 720px) {
  .aboutHeaderIntro {
    width: 85%;
  }
}

@media only screen and (max-width: 480px) {
  .aboutHeaderIntro {
    width: 100%;
  }
}
