@import '../../../style.scss';

.main {
  display: flex;
  gap: 25px;
  width: 90%;

  &_title {
    width: 75%;
    font-size: 7rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;

    & span {
      color: $highlight-background;
    }
  }

  &_description {
    font-size: 1rem;
    width: 25%;
    height: 700px;
    letter-spacing: -5px;
    line-height: 1.8;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
}

@media only screen and (max-width: 1024px) {
  .main {
    &_title {
      font-size: 6rem;
    }

    &_description {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
    flex-direction: column;

    &_title {
      width: 100%;
      font-size: 5rem;
    }

    &_description {
      font-size: 1.4rem;
      width: 70%;
      height: auto;
      letter-spacing: 0;
      line-height: 1.4;
      writing-mode: horizontal-tb;
    }
  }
}

@media only screen and (max-width: 480px) {
  .main {
    &_title {
      font-size: 3rem;
    }
  }
}
