@import '../../../style.scss';

.contactSection {
  height: 100vh;
  position: relative;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  &_emailForm {
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  &_title {
    background-color: $highlight-span;
    color: #030811;
    padding: 0 0.2rem;
  }

  &_emailInput {
    background-color: $default-white;
    border: none;
    color: $default-black;
    font-family: 'Roboto', sans-serif;
    padding: 0 0.5rem;
    width: 25rem;
    height: 3rem;
    font-size: 1rem;
  }

  &_messageInput {
    background-color: $default-white;
    border: none;
    color: $default-black;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 0.5rem;
    width: 25rem;
    min-width: 10rem;
    height: 8rem;
    max-height: 15rem;
  }

  &_submitButton {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border: none;

    font-size: 1.4rem;
    padding: 0.6rem 2.2rem;
  }

  &_logosContainer {
    margin-top: 10rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    & > a {
      & img {
        width: 2rem;
        filter: invert(6%) sepia(66%) saturate(1060%) hue-rotate(176deg)
          brightness(90%) contrast(110%);
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .contactSection {
    padding: 1rem;
    justify-content: flex-start;
    align-items: flex-start;

    &_emailInput {
      width: 100%;
    }

    &_messageInput {
      width: 100%;
    }
  }
}
