@import "../../style.scss";

.about-content-container {
    max-width: 720px;
}

.cv {
    transition: all 0.3s ease-in;
}

.cv:hover{
    background-color: $default-black;
    color: $default-white;
    cursor: pointer;
    padding: 5px 8px;
    text-decoration: underline;
}

.quote {
    display: inline-block;
    color: $second-color;
    font-weight: 500;
    font-style: oblique;
    margin-top: 90px;
    transition: 0.3s ease-in;
}

.quote:hover {
    background-color: $default-black;
    padding: 0 8px;
}