@import '../../../style.scss';

.image-profile-container {
  &-outside {
    width: 35%;
    min-width: 198px;
    padding-left: 10px;
  }
  &-inside {
    width: 198px;
    height: 235px;
    position: relative;

    & span {
      height: 235px;
    }

    & span img {
      height: 100%;
      box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.4);
    }

    & span::before {
      content: '';
      background-color: $highlight-background;
      position: absolute;
      z-index: -1;
      animation: imageContainerBeforeAnimation 0.5s ease-in-out forwards 1s;
    }

    & span::after {
      content: '';
      background-color: $alternate-color;
      position: absolute;
      z-index: -1;
      animation: imageContainerAfterAnimation 0.3s ease-in-out forwards 3s;
    }
  }
}

@media only screen and (max-width: 720px) {
  .image-profile-container {
    &-outside {
      width: 85%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .image-profile-container {
    &-outside {
      width: 100%;
    }
  }
}

@keyframes imageContainerBeforeAnimation {
  0% {
    top: 0;
    right: 0;
    width: 0;
    height: 0;
  }
  100% {
    top: 10px;
    right: 10px;
    width: 100%;
    height: 100%;
  }
}

@keyframes imageContainerAfterAnimation {
  0% {
    top: 0;
    right: 0;
    width: 0;
    height: 0;
  }
  100% {
    top: -10px;
    right: -10px;
    width: 50%;
    height: 50%;
  }
}
