@import '../../style.scss';

.overlayContainer {
  min-height: 100vh;
  width: 100%;
  max-width: 1640px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
    background-color: $main-color;
    width: 5px;
    overflow: auto;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $highlight-span;
  }
}
