.aboutContent {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;

  &_left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 35%;
    min-width: 200px;
  }
  &_right {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 35%;
    min-width: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .aboutContent {
    flex-direction: column;

    &_left {
      width: 100%;
    }
    &_right {
      width: 100%;
    }
  }
}
