@import '../../../style.scss';

.main_hero {
  padding-bottom: 2rem;
  margin-top: 12rem;

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1024px) {
    margin-top: 10rem;
  }
  @media only screen and (max-width: 480px) {
    margin-top: 8rem;
  }

  &_header {
    background: $background-alternate-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $header-font;
    font-size: 7.5vw;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    height: calc(100vh - 12rem);

    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1920px) {
      font-size: 4vw;
    }
    @media only screen and (max-width: 480px) {
      font-size: 3.5rem;
      gap: 4rem;
    }

    &_left {
      line-height: 1;
    }
    &_right {
      line-height: 1;
      text-align: end;
    }
  }
  &_arrowLogo {
    margin-top: auto;
    align-self: center;
    z-index: 10;
  }

  &_description {
    height: 100vh;
    display: flex;
    align-items: center;
    opacity: 0;

    & p {
      color: rgba($second-color, 0.7);
      font-family: $alternative-font;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: -0.8px;
      z-index: 10;

      @media only screen and (max-width: 768px) {
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.4;
      }
      @media only screen and (max-width: 480px) {
        font-size: 1.1rem;
      }

      & a {
        color: inherit;
      }
    }
  }
}
