@import '../../../style.scss';

.main_hero {
  padding-bottom: 2rem;
  margin-top: 12rem;

  @media only screen and (max-width: 1024px) {
    margin-top: 10rem;
  }

  &_header {
    font-family: $alternative-font;
    font-size: 8rem;
    letter-spacing: -10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1024px) {
      font-size: 6.5rem;
    }
    @media only screen and (max-width: 480px) {
      font-size: 4.5rem;
      letter-spacing: -5px;
    }

    & > p {
      color: $second-color;
      font-weight: 800;
      line-height: 1;
    }

    &_left {
      align-self: flex-start;
    }
    &_right {
      text-align: end;
      align-self: flex-end;

      @media only screen and (max-width: 480px) {
        margin-top: 2rem;
        text-align: start;
        align-self: flex-start;
      }
    }
  }

  &_description {
    height: 100vh;
    display: flex;
    align-items: center;

    & p {
      color: rgba($second-color, 0.7);
      font-family: $alternative-font;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: -0.8px;
      z-index: 10;

      @media only screen and (max-width: 768px) {
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.4;
      }
      @media only screen and (max-width: 480px) {
        font-size: 1.1rem;
      }

      & a {
        color: inherit;
      }
    }
  }
}
