@import '../../style.scss';

.skill-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.skill-container:hover {
  box-shadow: -8px 10px 5px rgba(0, 0, 0, 0.2);
}

.skill-container.opened {
  box-shadow: -8px 10px 5px rgba(0, 0, 0, 0.2);
}

.skill-container::before {
  content: '';
  background-color: $highlight-background;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s linear;
}

.skill-container:hover::before {
  top: 16px;
  right: 16px;
}

.skill-container.opened::before {
  top: 16px;
  right: 16px;
}

.skill-divider {
  cursor: pointer;
  width: calc(100% / 3);
  height: 650px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: width 0.1s ease-in-out;
}

.skill-divider.opened {
  width: 100%;
}

.skill-divider.opened::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}

.skill-divider.closed {
  width: 0;
}

.skill-divider.closed .skill-title {
  display: none;
}

.skill-divider::after {
  content: '';
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background 0.25s ease-in;
}

.skill-divider:nth-child(1) {
  background: url(../../assets/images/skills/skill1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fadeInLeft 0.5s ease-out;
}

.skill-divider:nth-child(2) {
  background: url(../../assets/images/skills/skill2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fadeInUp 1s ease-out;
}

.skill-divider:nth-child(3) {
  background: url(../../assets/images/skills/skill3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fadeInRight 1.5s ease-out;
}

.skill-title {
  font-size: 2rem;
  color: $highlight-color;
  position: absolute;
  bottom: 25px;
  right: 35px;
  z-index: 2;
  pointer-events: none;
  transition: all 0.1s ease-in;
}

.skill-divider:hover .skill-title {
  background-color: $highlight-background;
  padding: 0 10px;
}

.skill-divider:hover::after {
  background: rgba(0, 0, 0, 0);
}

.skill-divider.opened:hover::after {
  background: rgba(0, 0, 0, 0.3);
}

.skill-divider.opened .skill-title {
  background-color: $highlight-background;
  padding: 0 10px;
}

.skill-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 70%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  padding-top: 40px;
  padding-left: 45px;
  color: $default-white;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.2s ease-in 0.1s;
}

.skill-divider.opened .skill-content {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.skill-content p {
  color: $default-white;
}

.skill-content h2 {
  color: $second-color;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 10px;
}

.skill-list li {
  display: inline-flex;
  background-color: $second-color;
  border-radius: 10px;
  color: $default-black;
  padding: 0 6px;
}

.skill-technologies {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skill-technologies li {
  margin: 0 40px 10px 20px;
  min-width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

@media only screen and (max-width: 1024px) {
  .skill-container {
    width: 100%;
    padding-bottom: 20px;
    box-shadow: none;
  }

  .skill-container::before {
    display: none;
  }

  .skill-divider {
    backdrop-filter: blur(8px);
    width: 100%;
  }

  .skill-content {
    width: 100%;
    padding: 15px;
  }

  .skill-technologies li {
    margin: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .skill-technologies {
    gap: 4px;
    min-width: auto;
  }
  .skill-technologies li {
    background-color: $highlight-background;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0;
  }

  .skill-technologies li img {
    display: none;
  }
}
