@import '../../../style.scss';

.projectSection {
  position: relative;
  height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &_title {
    background-color: $highlight-span;
    color: #000;
    font-weight: 500;
    line-height: 1.1;
    align-self: flex-start;
  }

  &_descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &_description {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > div > a {
      align-self: flex-start;
      background-color: $second-color;
      border-radius: 20px;
      color: $alternate-color;
      padding: 0.1rem 0.7rem;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 480px) {
  .projectSection {
    justify-content: flex-start;
    padding: 1rem;

    &_title {
    }

    &_descriptionContainer {
    }
  }
}
