@import '../../../style.scss';

.wrapper {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 100%;
  right: 0;
  z-index: 10;
}

.navbar {
  max-width: 1640px;
  margin: 0 auto;
  padding: 4rem 8rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;

  @media only screen and (max-width: 1024px) {
    padding: 4rem;
    gap: 1rem;
  }

  @media only screen and (max-width: 768px) {
    justify-content: space-between;
  }

  @media only screen and (max-width: 480px) {
    padding: 1rem;
  }

  &_list {
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media only screen and (max-width: 768px) {
      display: none;
    }

    & li {
      display: flex;
      align-items: center;

      & a {
        color: $default-gray;
        font-size: 0.75rem;
        font-weight: 300;
        padding: 4px 5px;
        text-transform: uppercase;
        transition: all 0.2s ease-in;

        @media only screen and (max-width: 480px) {
          font-size: 0.85rem;
        }
      }
    }
  }
}
