@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

//VARIABLES
//FONTS
$main-font: 'Heebo', sans-serif;
$second-font: 'Roboto', sans-serif;

//COLORS
$main-color: #0d0a06;
$second-color: #e9dcc5;
$third-color: #e18669;
$fourth-color: #e1bcb0;
$highlight-background: #f0663a;
$highlight-color: #e9dcc5;
$default-black: #000000;
$second-black: #484848;
$default-white: #ffffff;
$alternate-color: #d90a94;

//BASIC-CONFIGURATION
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: $main-font;
  font-weight: 300;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: $main-color;
  color: $second-color;
}

#root {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: $third-color;
  color: $default-black;
}

body::-webkit-scrollbar {
  display: block;
  background-color: $main-color;
  width: 5px;
  overflow: auto;
}

body::-webkit-scrollbar-thumb {
  background-color: $fourth-color;
}

.container {
  width: 100%;
  min-height: calc(100vh - 220px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

h3 {
  font-size: 1.1rem;
  font-weight: 300;
}

p {
  color: $default-white;
  font-size: 0.95rem;
  line-height: 25px;
}

.text-highlight {
  background-color: $highlight-background;
  border-radius: 0.5px;
  color: $highlight-color;
  padding: 0 4px;
  line-height: 1.3;
}

.text-secondary {
  color: $second-color;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-500 {
  font-weight: 500;
}
