@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Khand:wght@400;500;600;700&family=Righteous&display=swap');

//VARIABLES
//FONTS
$title-font: 'Khand', sans-serif;
$header-font: 'Righteous', sans-serif;
$secondary-font: 'Inter', sans-serif;

//COLORS
$main-color: #000100;
$second-color: #e9eff8;
$highlight-background: #02122c;
$highlight-span: #d0a540;
$default-black: #0d0a06;
$second-black: #484848;
$default-white: #e9eff8;
$default-gray: #b8b8b8;
$alternate-color: #d3712f;
$background-main-gradient: linear-gradient(
  90deg,
  hsla(270, 94%, 25%, 1) 0%,
  hsla(158, 94%, 49%, 1) 100%
);
$background-highlight-gradient: linear-gradient(
  90deg,
  hsla(352, 83%, 64%, 1) 0%,
  hsla(230, 90%, 68%, 1) 100%
);

$background-alternate-gradient: linear-gradient(
  90deg,
  hsla(182, 64%, 53%, 1) 0%,
  hsla(34, 98%, 50%, 1) 50%,
  hsla(323, 100%, 47%, 1) 100%
);
$background-text-gradient: linear-gradient(
  90deg,
  hsla(239, 94%, 14%, 1) 0%,
  hsla(190, 68%, 50%, 1) 100%
);

//BASIC-CONFIGURATION
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  color: $second-color;
  font-size: 16px;
  font-family: $secondary-font;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  //position: fixed;
  background-color: #000101;
  //background-color: #faedd8;
  /* width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(210, 67%, 1%, 1) 51%,
    hsla(220, 75%, 2%, 1) 100%
  ); */

  color: $second-color;
}

#root {
  //max-width: 1640px;
  //margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $default-white;
}

::selection {
  background-color: $second-color;
  color: $default-black;
}

.container {
  //min-height: calc(100vh - 220px);
  position: relative;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

h3 {
  font-size: 1.1rem;
  font-weight: 300;
}

p {
  font-weight: 200;
  line-height: 25px;
}

.text-secondary {
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-500 {
  font-weight: 500;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-item-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}
