@import '../../../style.scss';

.skillDescBox {
  background: rgba($main-color, 0.6);
  padding: 0.7rem 1.2rem;

  display: flex;
  align-items: center;
  gap: 0.2rem;

  &_name {
    color: $default-white;
    font-size: 2rem;
    font-weight: 300;
  }
}

@media only screen and (max-width: 480px) {
  .skillDescBox {
    padding: 0.5rem;

    &_name {
      font-size: 1.5rem;
    }
  }
}
